<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en" data-ng-app="dashboardApp">
<head data-ng-controller="PageController as pageCtrl">
<title>{{ pageTitle }}</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Kids School Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
<!-- for-gallery-rotation -->
<script src="js/modernizr.custom.97074.js"></script>
<!-- //for-gallery-rotation -->
<link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Peralta' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular/app.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<style>
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 53px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}


.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */

</style>
<script type="text/javascript">
tday=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday");
tmonth=new Array("January","February","March","April","May","June","July","August","September","October","November","December");

function GetClock(){
var d=new Date();
var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getYear();
if(nyear<1000) nyear+=1900;
var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;

if(nhour==0){ap=" AM";nhour=12;}
else if(nhour<12){ap=" AM";}
else if(nhour==12){ap=" PM";}
else if(nhour>12){ap=" PM";nhour-=12;}

if(nmin<=9) nmin="0"+nmin;
if(nsec<=9) nsec="0"+nsec;

document.getElementById('clockbox').innerHTML=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+", "+nyear+" "+nhour+":"+nmin+":"+nsec+ap+"";
}

window.onload=function(){
GetClock();
setInterval(GetClock,1000);
}
</script>
</head>
	
<body data-ng-init="tab = 0">

<!-- body -->
	<div class="body-content">

		<div class="container">

			<div class="body-content1">

			<!-- header -->
				<div class="logo-search">
					<div class="logo">
						<h1><a href="index.php">k<span class="color">i</span><span class="color1">d</span><span class="color2">s</span> <span>school</span> <i>Good Start To Your Child</i></a></h1>
					</div>

					<div class="search">
						<form>
							<input type="text" value="Search Here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Here...';}" required="">
							<input type="submit" value=" " >
						</form> <br>
						<table align="right">
						  <tr>
						    <th><img src="images/clock.png" height="15" width="15"> &nbsp <th> 
						    <th><font color="#e60000"><b> <p id="clockbox" ></p></b></font></th>
						  </tr>
						</table>

					</div>
					<div class="clearfix"> </div>
				</div>
			<!-- //header -->

			<!-- nav -->
				<div class="navigation">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							<nav class="stroke">
								<ul class="nav navbar-nav">
									<li><a href="index.php" class="hvr-rectangle-out">Home</a></li>
									<li><a href="services.php" class="hvr-rectangle-out">Services</a></li>
									<li><a href="events.php" class="hvr-rectangle-out">News & Events</a></li>
									<li><a href="short-codes.php" class="hvr-rectangle-out">LSCA Staff</a></li>
									<li><a href="gallery.php" class="hvr-rectangle-out"  >Gallery</a></li>
									<li><a href="mail.php" class="hvr-rectangle-out">Mail Us</a></li>
								</ul>
							</nav>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
				</div>
			<!-- //nav -->


			

<div align="right">
<label>Hi, Admin! Welcome to LSCA Dashboard!</label> &nbsp <a href="">Log out</a>
</div> 

<br />

<div class="btn-group btn-group-justified">
    <a class="btn btn-warning" data-ng-class="{ active: tab === 0 }" data-ng-click="tab = 0">List of Enrollees</a>
    <a class="btn btn-warning" data-ng-class="{ active: tab === 1 }" data-ng-click="tab = 1">Student Grades</a>
	<a class="btn btn-warning" data-ng-class="{ active: tab === 2 }" data-ng-click="tab = 2">Subscribers</a>
</div>

<br />

<div>
    <student-list data-ng-show="tab === 0"></student-list>
    <phase-list data-ng-show="tab === 1"></phase-list>
	<subscriber-list data-ng-show="tab === 2"></subscriber-list>
</div>



<br>
<div align="center"><font color="violet" size="5"> <b>Living Stone Christian Academy Inc.Calbayug Mandaluyong</b></font></div> <br>

<div align="center"> As <b>Isaiah 40:11 says, "The Lord will feed His flock like a shepherd. <br>He will gather the lambs with His arm,
and carry them in his bosom and shall gently lead those that are with young." </b></div> <br><br>
<div align="center"> <img src="images/sy3log.png"></div>	<br><br> <br><br>


































<!-- footer -->
	<div class="footer">
		<div class="container">
			<h3>Sign up for our newsletter</h3>
			<p class="para">“The earth is filled with your love, LORD; teach me your decrees.” -Psalm 119:64</p>
			<div class="footer-contact">
			
				<form>
					<input type="text" placeholder="Enter your email to update" required=" ">
					<input type="submit" value="">
				</form>
			</div>

			<div class="footer-grids">
				<div class="col-md-3 footer-grid">
					<p>Ptr. Augusto A. Kho
					Christ, <br>the Living Stone Fellowship, 2441
					Philippines
					<a href="mailto:info@example.com">lsca @ clsf.com</a>
					<p>Phone : +63 (075) 582 2901 <br> +63 (075) 582 7343 (telefax)</p>
				</div>
				<div class="col-md-3 footer-grid">
					<ul>
						<li><a href="mail.php">Contact</a></li>
						<li><a href="gallery.php">Gallery</a></li>
						<li><a href="short-codes.php">LSCA Staff</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<ul>
						<li><a href="events.php">News & Events</a></li>
						<li><a href="services.php">Services</a></li>
						<li><a href="index.php">Home</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<div class="footer-grid-left">
						<a href="single.php"><img src="images/sy1.1.jpg" alt=" " class="img-responsve" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.php"><img src="images/sy2.1.jpg" alt=" " class="img-responsve" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.php"><img src="images/sy4.1.jpg" alt=" " class="img-responsve" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.php"><img src="images/sy5.1.jpg" alt=" " class="img-responsve" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.php"><img src="images/sy6.jpg" alt=" " class="img-responsve" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="single.php"><img src="images/sy7.jpg" alt=" " class="img-responsve" /></a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="footer-copy">
				<!-- <p>&copy 2016 Kids School. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts.</a></p> -->
				<ul>
					<li><a href="#" class="twitter"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On Twitter"></span></a></li>
					<li><a href="#" class="p"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On Pinterest"></span></a></li>
					<li><a href="#" class="facebook" id="facebook"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On Facebook"></span></a></li>
					<li><a href="#" class="dribble"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On Dribbble"></span></a></li>
					<li><a href="#" class="rss"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On RSS"></span></a></li>
					<div class="clearfix"> </div>
				</ul>
				<script>
					$(function () {
					  $('[data-toggle="tooltip"]').tooltip()
					})
				</script>
			</div>
		</div>
	</div>
<!-- //footer -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
	</script>
<!-- //here ends scrolling icon -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>