<select>
	<option data-ng-repeat="level in levels" data-ng-value="level.Id">{{ level.Level }}</option>
</select>

<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<td>#</td>
			<td>Name</td>
			<td>Level</td>
			<td>Phase 1</td>
			<td>Phase 2</td>
			<td>Phase 3</td>
			<td>Phase 4</td>
			<td>Remark</td>
		</tr>
	</thead>

	<tbody>
		<tr data-ng-repeat="phase in phaseData">
			<td>{{ phase.Id }}</td>
			<td>{{ phase.Name }}</td>
			<td>{{ phase.Level }}</td>
			<td>{{ phase.Phase1 }}</td>
			<td>{{ phase.Phase2 }}</td>
			<td>{{ phase.Phase3 }}</td>
			<td>{{ phase.Phase4 }}</td>
			<td>{{ phase.Remark }}</td>
		</tr>
	</tbody>
</table>